################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VR-World-The-Maze.sln
/Temp
/obj/Debug
/Library
/Assembly-CSharp.csproj
/.vs
